/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,700&family=Roboto:wght@300;400;500&display=swap');

/*GLobal css*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #ffffff;
}

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    outline: none !important;*/
/*}*/

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

.section-padding{
    padding: 80px 0;
}
.section-title h3{
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 31.25px;
    line-height: 35px;
    /*ext-transform: capitalize;*/
    color: #150C01;
}
/*Navbar*/

.navbar {
    padding: 20px 0;
}

.navbar > .container {
    padding: 15px;
}

.btnOne {
    position: absolute;
    right: 15%;
    background-color: #DC780B;
    color: white;
    width: 155px;
    height: 46px;
}

.btnOne:hover {
    background-color: white;
    color: #DC780B;
    border: 1px solid #DC780B;
    transition: 0.5s;
}

.navWords {
    font-size: 16px;
    line-height: 19px;
    color: #070400;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
}

.navWords:hover {
    color: #DC780B !important;
    transition: 0.8s ease;
    transform: scale(1.1);
}


/*Home Section*/

.btnTwo {
    background-color: #DC780B;
    color: white;
    border-radius: 5px;
    width: 158px;
    height: 60px;
}

.btnTwo:hover {
    background-color: #ffffff;
    color: #DC780B;
    border: 1px solid #DC780B;
    transition: 0.5s;
}

.btnThree {
    border-radius: 5px;
    background-color: #ffffff;
    color: #DC780B;
    border: 1px solid #DC780B;
    width: 170px;
    height: 60px
}

.btnThree:hover {
    background-color: #DC780B;
    color: white;
    transition: 0.5s;
}
.homeTexth1{
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 48.83px;
    line-height: 58px;
    color: #150C01;
}

/*Features*/
.featuresWord{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    color: #DC780B;
    opacity: 0.7;
}

.circrleIMg{
    border-radius: 50%;
    background-color: #ccc6ff;
    width: 88px;
    height: 88px;
    /*position: relative;*/

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.housFlacon{
    /*position: absolute;*/
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}
.featuresCircleWord{
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    color: #150C01;
}

/*About us*/
.aboutUs{
    padding-top: 30px;
    padding-bottom: 60px;
}
.aboutImg{
    width: 587px;
    height: 486px;
    border-radius: 7%;
}
.aboutWord{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #DC780B;
    opacity: 0.7;
}
.abouth3{
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 31.25px;
    line-height: 41px;
    color: #150C01;
}
.btnFour{
    width: 142px;
    height: 42px;
    color: white;
    background: #DC780B;
    border-radius: 5px;
}
.btnFour:hover{
    color: #DC780B;
    background-color: white;
    border: 1px solid #DC780B;
    transition: 0.5s;
}
.bacImg{
    position: absolute;
    top: 135%;
    left: 0;
}
.section-titleTwo h3 {
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 31.25px;
    line-height: 24px;
    color: #150C01;
}
.menuWord{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #DC780B;
    opacity: 0.7;
}
.product{
    border-radius: 75px 10px 10px 10px;
}
.cardImgMenu{
    overflow: hidden;
    border-radius: 75px 10px 10px 10px;

}
.imgMenu{
    width: 100%;
    border-radius: 75px 10px 75px 0px;
    transition: 0.8s;
}
.imgMenu:hover{
    transform: scale(1.15);
    transition: 0.8s;
}

.menuName{
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    color: #150C01;
}
.menuPrice{
    position: absolute;
    color: #150C01;
    font-family: Philosopher;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    left: 80%;
}
.menuFooter{
    margin-bottom: 5%;
}
.btnPlus{
    position: absolute;
    left: 5%;
}
.btnPlus{
    border: 1px solid #DC780B;
    width: 36px;
    height: 34px;
    color: white;
    background: #DC780B;
    border-radius: 5px;
}
.btnPlus:hover{
    color: #DC780B;
    background-color: white;
    border: 1px solid #DC780B;
    transition: 0.8s;
}
.menuBtn{
    width: 142px;
    height: 42px;
    border: 1px solid #DC780B;
    border-radius: 5px;
    background-color: white;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #DC780B;
}
.menuBtn:hover{
    background-color: #DC780B;
    color: white;
    transition: 0.5s;
}
.takeAwey{
    padding: 5%;
    background-color:  #FBF1E7;
}
.takeCard{
    background-color: unset;
}
.takeWord{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2em;
        color: #DC780B;
        opacity: 0.7;
}
.takeHeader{
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 31.25px;
    line-height: 41px;
    color: #150C01;
}
.appleImg{
    width: 25px;
    height: 25px;

}
.googleImg{
    width: 20px;
    height: 20px;
}
.appleBtn{
    width: 179px;
    height: 48px;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #150C01;
}
.appleBtn:hover{
    background-color: #FBF1E7;
    color: black;
    border: 1.5px solid #150C01;
}
.googleBtn{
    width: 179px;
    height: 48px;
    border-radius: 5px;
    border: 1.5px solid #150C01;
    background-color: #FBF1E7;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #150C01;
}
.googleBtn:hover{
    background-color: black;
    color: white;
    border: 1.5px solid #150C01;
}
/*.phonePhoto{*/
/*    position: absolute;*/
/*    right: 4%;*/
/*    top: 0;*/
/*}*/
.phoneCol{
    position: absolute;
    right: 5%;
}
.phonePhoto{
    border-radius: 11%;
    box-shadow: 10px 10px 10px 10px #FBF1E7;
}

.testimonial{
    margin-top: 15%;
}
.testimonialWord{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #DC780B;
    opacity: 0.7;
}
.testumonialH3{
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 31.25px;
    line-height: 24px;
    color: #000000;
}
/*.nameWord{*/
/*    font-family: Roboto;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    font-size: 16px;*/
/*    line-height: 19px;*/
/*    color: #000000;*/
/*}*/
/*.fonction{*/
/*    font-family: Roboto;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    font-size: 12px;*/
/*    line-height: 14px;*/
/*    color: #000000;*/
/*    opacity: 0.7;*/
/*}*/
/*.circrlePeople{*/
/*    border-radius: 44%;*/
/*}*/
/*.positionImg{*/
/*    position: absolute;*/
/*    left: 22%;*/
/*    top: -25%;*/
/*}*/


.swiper-container {
    width: 100%;
    height: 100%;

}

.swiper-wrapper{

}
.next{
    color: black;

}
.prev{
    color: black;
}

.swiper-slide {
    padding: 10%;
    text-align: center;
    background: #fff;

    /* Center slide text vertically */
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*.swiper-slide img {*/
/*    !*display: block;*!*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/

.bacCarousel{
    position: absolute;
    left: 38%;
    top: 3%;
}
.carouselPeople{
    height: 100%;
    object-fit: cover;
    border-radius: 44%;
    width: 15% ;
}
.augustaWord{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-transform: uppercase;
}
.uiDesigner{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    opacity: 0.7;
}

.contact{
    background-color: #FBF1E7;
    padding: 7%;
}
.contactWord{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    color: #DC780B;
    opacity: 0.7;
}
.contactH3{
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 31.25px;
    line-height: 41px;
    color: #150C01;
}
.messageInput{
    padding-left: 3%;
    padding-right: 3%;
    width: 70%;
    height: 75px;
    background: #FFFFFF;
    border-radius: 10px;
}

.btnInput{
    width:20%;
    height: 75px;
    background: #DC780B;
    border-radius: 10px;
    color: white;
    border: 1px solid #DC780B;
}
.btnInput:hover{
    color: #DC780B;
    border: 1px solid #DC780B;
    background-color: white;
    transition: 0.5s;
}
.footer{
   background-color: #252525;
    /*color: white;*/
    padding-bottom: 5%;
    padding-top: 5%;
}
.cardFooter{
    background-color: #252525;
}
.footerLink{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.7;
}
.footerLink:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.footerName{
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}
.instagramIcon{
    /*position: absolute;*/
    display: inline-block;
    width: 20px;
    height: 20px;
}
.facebookIcon{
    /*position: absolute;*/
    display: inline-block;
    width: 20px;
    height: 20px;
    left: 40px;
}
.twitterIcon{
    /*position: absolute;*/
    display: inline-block;
    width: 20px;
    height: 20px;
    left: 70px;
}
.youtubeIcon{
    /*position: absolute;*/
    display: inline-block;
    width: 20px;
    height: 20px;
    left: 100px;
}






































































@media only screen and (max-width: 767px) {
    /* For mobile phones:*/
    /*[class*="col-"] {*/
    /*    width: 100%;*/
    /*}*/
    body{
        font-size: 22px!important;
        /*font-size: 1.6rem;*/
    }
    h3{
        font-size: 24px;

    }
    .cardFooter{
        font-size: 12px!important;
    }
    .bacImg{
        width: 0!important;
    }

    .btnFour {
        margin-left: 30% !important;
    }
    .navbar{
        padding: 30px ;
    }
    .homeTexth1{
        margin-bottom: 5%;
    }
    .aboutImg{
        width: 100%;
        height: 50%;
    }
.btnOne{
    right: 30%;
}
.home-img .HomeImg{
    width: 0;
}
.homeTexth1{
    font-size: 35.83px;
    line-height: 38px;
}

    .displayBut{
        margin-left: 25%;
    }
    .btnTwo{
        width: 145px;
    }
    .btnThree{
        /*margin-top: 10%;*/
        width: 145px;
    }
    .takeAwey{
        /*margin-top: 5%;*/
    }
    .menuBtn{
        margin-top: 10%;
    }
    .googleBtn{
        margin-top: 10%;
    }
    .phonePhoto{
        width: 0;
    }

    .carouselPeople{
        width: 45%;
    }
    .contactH3{
        font-size: 23px;
        line-height: 24px;
    }
    .abouth3{
        font-size: 28px;
        line-height: 28px;
    }
    .messageInput{
        font-size: 18px;
        height: 60px;
    }
    .btnInput{
        font-size: 18px;
        height: 60px;
    }

}


@media screen and (max-width: 424px){
    .btnThree{
        margin-top: 10%;
    }
}


@media screen and (max-width: 361px) {
    body{
        font-size: 20px!important;
    }
    .btnTwo .btnThree{
        width: 50px;
    }
    .homeTexth1{
        font-size: 32.83px;
        line-height: 35px;
    }
    .btnTwo{
        width: 145px;
    }
    .btnThree{
        width: 145px;
    }
    .displayBut{
        margin-left: 25%;
    }
    .btnTwo{

        /*width: 145px;*/
    }
    .btnThree{
        /*margin-top: 10%;*/
        /*width: 145px;*/
    }
    .googleBtn{
        margin-top: 5%;
    }
    .phonePhoto{
        width: 0;
    }
    .messageInput{
        font-size: 15px;
        height: 50px;
    }
    .btnInput{
        font-size: 15px;
        height: 50px;
    }
}


@media screen and (max-width: 320px){
    body {
        font-size: 14px!important;
    }
    .btnFour{
        margin-left: 20%!important;
    }
    .homeTexth1 {
        font-size: 24.83px;
        line-height: 26px;
    }
}






    @media screen and (max-width: 992px) {
    body{
        font-size: 24px;
    }

        .btnOne{
            position: unset;
            margin-top: 10%;
        }
        .btnFour{
            margin-left: 35%;
        }
    .btnTwo{

        width: 145px;
    }
    .btnThree{
        /*margin-top: 10%;*/
        width: 145px;
    }
    .menuBtn{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .takeHeader{
        font-size: 28px;
        line-height: 28px;

    }
    .phonePhoto{
        width: 0;
    }
        .navbar > .container{
            text-align: center;
        }
        .navbar{
            margin-bottom: 8%;
        }
    /*.contactH3{*/
    /*    font-size: 28px;*/
    /*    line-height: 24px;*/
    /*}*/
}

